@charset "UTF-8";

//省略号
@mixin ellipsis(){
  display:block;
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
/*强制换行*/
@mixin break-word(){
  word-wrap:break-word;
  word-break:break-all;
}
/*禁止换行*/
@mixin keep-all(){
  word-break:keep-all;
  white-space:nowrap;
}
@mixin multi_ellipsis($line) {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  overflow:hidden;
}

@mixin border_half {
    border-width: 0px;
    border: 1px solid #ccc;
    -webkit-border-image: url("../img/icon_border_half.png") 2 stretch;
}

@mixin border_top_half {
    border-width: 0;
    border-top: 1px solid #ccc;
    -webkit-border-image: url("../img/icon_border_half.png") 2 stretch;
  }

@mixin border_bottom_half {
    border-width: 0;
    border-bottom: 1px solid #ccc;
    -webkit-border-image: url("../img/icon_border_half.png") 2 stretch;
}

@mixin border_left_half {
    border-width: 0;
    border-left: 1px solid #ccc;
    -webkit-border-image: url("../img/icon_border_half.png") 2 stretch;
}

@mixin border_right_half {
    border-width: 0;
    border-right: 1px solid #ccc;
    -webkit-border-image: url("../img/icon_border_half.png") 2 stretch;
}

@mixin border_vertical_half {
    border-width: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-border-image: url("../img/icon_border_half.png") 2 stretch;
}

@mixin border_horizontal_half {
    border-width: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-border-image: url("../img/icon_border_half.png") 2 stretch;
}

@mixin border_left_bottom_half {
    border-width: 0;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-border-image: url("../img/icon_border_half.png") 2 stretch;
}

@mixin border_right_bottom_half {
    border-width: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-border-image: url("../img/icon_border_half.png") 2 stretch;
}

@mixin border_left_top_half {
    border-width: 0;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-border-image: url("../img/icon_border_half.png") 2 stretch;
}

@mixin border_right_top_half {
    border-width: 0;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-border-image: url("../img/icon_border_half.png") 2 stretch;
}
@mixin arrow-right{
  width: 0.9rem;
  height: 0.9rem;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  display: inline-block;
  transform: rotate(135deg);
  position: absolute;
  top: 50%;
  right: 1.5rem;
  margin-top: -0.45rem;
  content: '';
}

@mixin arrow-success{
  width: 0.4rem;
  height: 1rem;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  display: inline-block;
  transform: rotate(-135deg);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.7rem 0 0 -0.3rem;
  content: '';
}
