@charset "utf-8";

body{
	background: #f0f0f0;
}
.zhu_chart{
	position: relative;
	width: 98%;
	height: 220px;
	background: #FFFFFF;
	/*overflow: hidden;*/
}
.zuobiao{
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	border-collapse: collapse;
	/*border: 1px solid red;*/
	/*top: -32px;*/
}
.zhu_kedu{
	width: 44px;
	max-width: 44px;
	text-align: center !important;
	vertical-align: bottom !important;
}
.zhu_kedu span{
	position: relative;
	font-size: 12px;
	color: #333333;
	bottom: -10px;
}
.zhu_line{
	border-bottom: 1px solid #f6f6f6;
}
.zuobiao_zanwei{
	height: 32px;
	max-height: 32px;
}
.zhuxing{
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
	border-collapse: collapse;
	left: 0;
	bottom: 0;
	/*border: 1px solid black;*/
}
.zhuxing td{
	text-align: center;
}
.zhu_zanwei{
	width: 44px;
	max-width: 44px;
}
.zhu_body td{
	/*position: relative;*/
	/*height: 100%;*//*在ie中td的100%会撑开,这里会在js中设置*/
	vertical-align: bottom !important;
	overflow: hidden;
	/*border: 1px solid red;*/
}
.zhu_con{
	width: 100%;
	height: 100%;
	position: relative;
}
.zhu_mubiao,.zhu_shiji{
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 30%;
	height: 0%;
	background: #3a4752;
	cursor: pointer;
	
	position: absolute;
	bottom: 0;
	left: 20%;
}
.zhu_shiji{
	left: 50%;
	background: #2b8bd7;
	border-left: 1px solid #fff;
}
.zhu_title td{
	height: 32px;
	font-size: 12px;
	color: #3a4752;
/*	border: 1px solid green;*/
	vertical-align: middle !important;
}
.zhu_title td span{
	display: block;
	width: 72px;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.info_sq{
	position: absolute;
	width: 90%;
	font: bold 16px/24px "微软雅黑";
	color: #FFFFFF;
	text-align: center;
	background: #df6565;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	left: 5%;
	top: -26px;
}
