@import 'normalizeapp';
@import 'common';
@import 'mixin';
@import "rule";
.index-bg{
  background: #D91F1F ;
}
.rule-bg{
  background: #ECECEC;
}
.index-body{
  header{
    img{
      width: 100%;
      display: block;
    }
    .top1{
      position: relative;
      .time{
        position: absolute;
        bottom: -1.2rem;
        left:0;
        right: 0;
        width: 100%;
        color:#fffaed;
        font-size: 1.2rem;
        margin: 0 auto;
        text-align: center;
        font-weight: 400;
      }
    }
    .top2{
      position: relative;
      .top2-content1{
        position: absolute;
        top:2rem;
        left:0;
        right: 0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        h3{
          font-size: 4.5rem;
          color:#f6ff06;
          font-weight: 400;
        }
        p{
          margin-top:0.5rem;
          font-size: 3rem;
          color:#ffffff;
          font-weight: 400;
        }
      }
      @media screen and (max-width: 320px){
        .top2-content1{
          h3{
            font-size: 3.5rem;
          }
          p{
            margin-top: 0;
            font-size: 2.5rem;
          }
        }
      }
      @media screen and (min-width: 768px){
        .top2-content1{
          h3{
            font-size: 7.5rem;
          }
          p{
            margin-top: 2rem;
            font-size: 5rem;
          }
        }
      }
      .top2-content2{
        position: absolute;
        bottom: 1rem;
        left:0;
        right: 0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        .content-box{
          margin:0 auto 2rem;
          overflow: hidden;
          width:54.13%;
          height:3.75rem;
          line-height: 3.75rem;
          background: url(../img/sroll-line.png) no-repeat;
          background-size: 100%;
          .content-scroll{
            height:3.75rem;
            li{
              height:3.75rem;
              line-height: 3.75rem;
              font-size: 1.7rem;
              color: #fff;
            }
          }
          @media screen and (max-width: 320px){
            .content-scroll{
              li{
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
  .btn-open{
    width: 21.7rem;
    display: block;
    height: 4.8rem;
    line-height: 4.8rem;
    background: url(../img/openaccount.png) no-repeat;
    background-size: 100%;
    margin:1.5rem auto;
    color:#d53501;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: center;
  }
  .wrap-midcontent{
    .zhibo-container{
      position: relative;
      width: 93.3%;
      margin:3.3rem auto 0;
      border-radius:0 0 0.8rem 0.8rem;
      background: #fff;
      .top{
        position: absolute;
        top:-1.8rem;
        margin:0 auto;
        width: 100%;
        height: 4.15rem;
        line-height: 4.15rem;
        background: url(../img/zhibo-topbg.png) center no-repeat;
        background-size: 100%;
        text-align: center;
        font-size: 2.1rem;
        color:#a30e1d;
        font-weight: bold;
      }
      .content{
        position: relative;
        text-align: center;
        &.zhibo-content{
          padding:6rem 0 4.8rem;
          .zhibo-num{
            span.text{
              display: inline-block;
              color:#000000;
              font-size: 1.8rem;
              &.text1{
                margin-right: 0.5rem;
              }
              &.text2{
                margin-left: 0.5rem;
              }
            }
            ul{
              margin:1.2rem 0;
              display: inline-block;
              li{
                display: inline-block;
                width: 4.5rem;
                height: 5rem;
                line-height: 5rem;
                background: #E53004;
                border-radius: 0.6rem;
                color:#ffffff;
                font-size: 5.4rem;
                font-weight: bold;
                position: relative;
                &:last-child{
                  margin-right: 0;
                }
                &:after{
                  content:'';
                  position:absolute;
                  top:50%;
                  left:0;
                  margin-top: -0.1rem;
                  width: 4.5rem;
                  height: 0.2rem;
                  background: #fff;
                }
              }
            }
          }
        }
        &.race-content{
          padding-top:2.5rem;
          .race-bottomtit{
            color:#333333;
            font-size: 1.2rem;
            font-weight: 400;
            height: 4rem;
            line-height: 4rem;
          }
        }
        .tit{
          font-size: 1.75rem;
          color: #000000;
          .text{
            color:#ff3000;
            font-weight: bold;
          }
        }
        .text-explain{
          position: absolute;
          bottom: 1rem;
          right:1rem;
          &:after{
            content:'';
            display: inline-block;
            width: 1.1rem;
            height: 1.1rem;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAAmVBMVEUAAAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/bAD/////pn3/9/T/1cX/7+n/upz/sI3/kFj/3tH/zLj/m2v/eSb/593/w6r/hUL1aB0dAAAAI3RSTlMAUhO++bOkl11JKerRxYeBbWk+NjAKBfTz7+feuKmOY0IiHX+TCMMAAADFSURBVBjTZZHnFoMgDEYDVrvVOrp34qqj4/0froKC2t4/+bgnJ3AItPiOZRiWe4M+0wW2mDMt12PsGF2UPeIAp9Gy9/kmojSTfiLsVdqUJIU47HitlyKV9MoRs5hkvw0wQ0FMH1EelIiyB3BRIXUpawD9x+Ux5e2lp85GRFGTVmD1JsQRKm1rnVKl4hSYihUVqOAQbvXkRFkDAM74B6s1n/9ao/ns0XDI/A4Stunrg15EsECNyaFjsmxWY3owhHuM+aE6fQGacy/Q7cs+aAAAAABJRU5ErkJggg==) no-repeat;
            background-size: 100%;
            margin-left: 0.3rem;
          }
        }
        .content-list{
          width: 91.67%;
          margin: 0 auto;
          li{
            border-bottom: 0.1rem dashed #F22B41;
            padding:1.5rem 0 1rem;
            &:after{
              display:block;
              clear:both;
              content:"";
              visibility:hidden;
              height:0;
            }
            .left{
              display: inline-block;
              float: left;
              width: 40%;
              height: 8.5rem;
              position: relative;
              span{
                position: absolute;
                bottom: 0;
                left:0;
                right: 0;
                font-size: 1.05rem;
                color:#666666;
                line-height: 1;
              }
            }
            .right{
              display: inline-block;
              text-align: left;
              width: 60%;
              p{
                span{
                  color:#f12036;
                }
                &:first-of-type{
                  margin: 1.5rem 0 0.5rem;
                  font-size: 1.4rem;
                  color:#f12036;
                }
                &:last-of-type{
                  font-size: 1.2rem;
                  color:#303030;
                }
              }
            }
            &:nth-child(1){
              .left{
                height: 7.5rem;
                background: url(../img/race1.png) top center no-repeat;
                background-size: 7.1rem 6.85rem;
              }
            }
            &:nth-child(2){
              .left{
                background: url(../img/race2.png) top center no-repeat;
                background-size: 7.1rem 6.85rem;
              }
            }
            &:nth-child(3){
              .left{
                background: url(../img/race3.png) top center no-repeat;
                background-size: 7.1rem 6.85rem;
              }
            }
          }
        }
      }

    }
    .more-good{
      height: 5.9rem;
      line-height: 6.5rem;
      width: 93.33%;
      margin:0 auto;
      position: relative;
      z-index: 1;
      text-align: center;
      background: url(../img/more-race.png) no-repeat;
      background-size: 100%;
      color:#a30e1d;
      font-size: 2.1rem;
      font-weight: bold;
    }
    .swiper-container1{
      width: 93.33%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      border-radius: 0.8rem;
      background: #fff;
      z-index: 1;
      text-align: center;
      img{
        width: 62%;
        margin:0 auto;
        display: block;
      }
      .top-tit{
        margin:3.5rem 0 1.5rem;
        font-size: 2.5rem;
        color:#332b27;
        font-weight: 400;
        span{
          position: relative;
          &:after{
            content:'';
            position:absolute;
            bottom: 0;
            left:0;
            right:0;
            width: 100%;
            height: 0.2rem;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJMAAAAEAQMAAACwSJ+tAAAABlBMVEUAAADyABOXmV+vAAAAAXRSTlMAQObYZgAAABRJREFUCNdj+I8BHjBgAdjUYRMDABiROGvAz4RTAAAAAElFTkSuQmCC) no-repeat;
            background-size: 100%;
          }
        }
      }
      .mid-tit{
        width: 80%;
        margin:0 auto;
        font-weight: 400;
        text-align: left;
        &.mid-tit1{
          text-align: center;
          padding: 1.5rem 0;
          color:#362e2a;
          font-size: 1.5rem;
        }
        &.mid-tit2{
          padding-bottom: 3rem;
          color:#988777;
          font-size: 1.3rem;
          .explain{
            margin-top:2.5rem;
            text-align: center;
            display: block;
            color:#333333;
            font-size: 1.2rem;
            text-decoration: underline;
          }
        }
      }

    }
    .swiper-pagination{
      position: relative;
      margin-top: 1.5rem;
      .swiper-pagination-bullet{
        background: #FFFBF6;
        margin-right:1rem;
        &:last-of-type{
            margin-right: 0;
        }
      }
      .swiper-pagination-bullet-active{
          background: #FFD506;
      }
    }
  }
  footer{
    width: 100%;
    margin:0 auto;
    img{
      display: block;
      margin: 3rem auto 0;
      width: 75%;
    }
    .tel{
      margin:2.5rem 0 1.5rem;
      text-align: center;
      font-size: 1.2rem;
      color:#ffd506;
      a{
        color:#ffd506;
      }
    }
    .tips{
      height: 2rem;
      line-height: 2rem;
      background: #C00C0C;
      text-align: center;
      font-size: 1rem;
      color:#ffd506;
    }
  }
}
