
body{
	margin: 0;
	background: #FCFCFC;
	/*overflow: hidden;*/
}
header{
	display: block;
	width: 100%;
	height: 40px;
	background: #666;
	position: fixed;
	top: 0;
	text-align: center;
}
header p{
	margin: 0;
	font: 24px "微软雅黑";
	color: #fafafa;
	line-height: 40px;
	
}
footer{
	height: 80px;
	width: 100%;
	background: #fafafa;
	border-top: 1px solid #ccc;
	position: fixed;
	bottom: 0;
}
footer .inputBox{
	width: 90%;
	height: 60px;
	margin: 10px auto;
	background: #fff;
	
	-moz-border-radius: 4px;      /* Gecko browsers */
	-webkit-border-radius: 4px;   /* Webkit browsers */
	border-radius:4px; 
	
	-moz-box-shadow: 0px 0px 6px #909090;/*firefox*/ 
	-webkit-box-shadow: 0px 0px 6px #909090;/*safari或chrome*/ 
	box-shadow:0px 0px 6px #909090;/*opera或ie9*/ 
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=90,strength=6);/*ie*/ 
}
footer .inputBox input{
	width: 90%;
	height: 50px;
	padding-left: 10px;
	font: 36px "微软雅黑";
	color: lightseagreen;
	border: none;
	outline: none;
	
}

.main{
	margin-top: 50px;
	margin-bottom: 100px;

	overflow: auto;
}
table{
	width: 100%;
	border: none;
	border-collapse: collapse;
}

.robotTd{
	padding: 10px 10px;
	text-align: left;
}
.robotTd2{
	padding: 10px 10px;
	text-align: right;
	margin-bottom: 20px;
}
.robot{
	display: inline-block;
	height: 40px;
	padding: 0 20px;
	background: lightsteelblue;
	font: 24px "微软雅黑";
	color: #fff;
	line-height: 40px;
	
	-moz-border-radius: 4px;      /* Gecko browsers */
	-webkit-border-radius: 4px;   /* Webkit browsers */
	border-radius:4px; 
	
	-moz-box-shadow: 0px 0px 6px #909090;/*firefox*/ 
	-webkit-box-shadow: 0px 0px 6px #909090;/*safari或chrome*/ 
	box-shadow:0px 0px 6px #909090;/*opera或ie9*/ 
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=90,strength=6);/*ie*/ 
	
}
.robot2{
	display: inline-block;
	height: 40px;
	padding: 0 20px;
	background: lightgreen;
	font: 24px "微软雅黑";
	color: #fff;
	line-height: 40px;
	
	-moz-border-radius: 4px;      /* Gecko browsers */
	-webkit-border-radius: 4px;   /* Webkit browsers */
	border-radius:4px; 
	
	-moz-box-shadow: 0px 0px 6px #909090;/*firefox*/ 
	-webkit-box-shadow: 0px 0px 6px #909090;/*safari或chrome*/ 
	box-shadow:0px 0px 6px #909090;/*opera或ie9*/ 
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=90,strength=6);/*ie*/ 
	
}
