@charset "UTF-8";
body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
  margin: 0;
  padding: 0; }

table, tr, td {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5 {
  font-size: 100%;
  font-weight: normal; }

ol, ul {
  list-style: none; }

li {
  list-style: none outside none; }

fieldset, img, a img {
  border: 0 none;
  outline: 0; }

caption, th {
  text-align: center; }

abbr, acronym {
  border: 0; }

textarea {
  resize: none; }

abbr, acronym {
  border: 0 none;
  font-variant: normal; }

a {
  text-decoration: none;
  outline-style: none; }

a:hover {
  text-decoration: underline; }

.f-l {
  float: left !important;
  display: inline-block; }

.f-r {
  float: right !important;
  display: inline-block; }

.f-n {
  float: none !important; }

.cf:before,
.cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

/*强制换行*/
/*禁止换行*/
.circle-cut {
  width: 200px;
  height: 100px;
  background: radial-gradient(circle at left bottom, transparent 15px, orange 0) left bottom, radial-gradient(circle at right bottom, transparent 15px, orange 0) right bottom, radial-gradient(circle at left top, transparent 15px, orange 0) left top, radial-gradient(circle at right top, transparent 15px, orange 0) right top;
  background-size: 50% 50%;
  background-repeat: no-repeat; }
